.about {
  background-color: #0a2850;
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
}

.about__title {
  max-width: 251px;
  margin-left: 80px;
  margin-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  margin: 19px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  position: absolute;
}
